.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--orange);
}

.table {
    background-color: antiquewhite;
    border-collapse: collapse;
    margin: 20px 0;
    height: 4vh;
    text-align: center;
}

.table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px 12px;
    height: 2vh;
}

.table tr:first-child {
    background-color: var(--green);
    color: white;
    font-weight: bold;
}

.button {
    width: 15rem;
    height: 2.5rem;
    background-color: #F4CE14;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 3px black;
    font-size: clamp(1.1rem, 1.5vw, 1.2rem);
    cursor: pointer;
}
