.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 3px black;
    margin: 0 auto;
    width: 35rem;
    padding: 3rem;
    background-color: var(--green);
}

.fieldset h1 {
    font-size: var(--h1-h2-font-size);
    align-self: center;
    margin-top: 0;
    color: #F4CE14;
}

.fieldset label {
    font-size: clamp(1.1rem, 1.5vw, 1.2rem);
    color: white;
}

.fieldset input, .fieldset select {
    height: 2rem;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    border: 1px solid black;
    border-radius: 7px;
}

.fieldset input:focus, .fieldset select:focus {
    border-color: #495E57;
    outline: none;
}

.fieldset button {
    align-self: start;
    width: 15rem;
    height: 2.5rem;
    background-color: #F4CE14;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 3px black;
    font-size: clamp(1.1rem, 1.5vw, 1.2rem);
    cursor: pointer;
    margin-top: 1rem;
}

@media screen and (max-width: 992px) {
    .fieldset {
        width: 25rem;
    }

    .fieldset input, .fieldset select {
        height: 1.5rem;
    }

    .fieldset button {
        align-self: start;
        width: 12rem;
        height: 2.5rem;
        background-color: #F4CE14;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 3px black;
        font-size: clamp(0.95rem, 1.5vw, 1rem);
        cursor: pointer;
    }
}

.error {
    margin: 0;
    color: red;
}

@media screen and (max-width: 768px) {
    /* Looks good */
}

@media screen and (max-width: 576px) {
    .fieldset {
        width: 20rem;
    }

    .fieldset input, .fieldset select {
        height: 1.3rem;
    }

    .fieldset button {
        align-self: start;
        width: 8.5rem;
        height: 2.2rem;
        background-color: #F4CE14;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 3px black;
        font-size: clamp(0.95rem, 1.5vw, 1rem);
        cursor: pointer;
    }
}