.introSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 100px;
}

.introSection article p {
    text-wrap: wrap;
}

.specialsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.specialsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.testimonialsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

.testimonialsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.outroSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 100px;
}
