:root {
    --padding-left-right: 10%;
    --button-width: 100%;
    --button-max-width: 30rem;
    --button-height: 100%;
    --padding-top-bottom: 2%;
    --margin-top-bottom: 2%;
    --h1-h2-font-size: clamp(2rem, 1.5vw, 3rem);
    --h3-font-size: clamp(1rem, 1.5vw, 2rem);
    --p-h4-font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    --btn-font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    --orange: #EE9972;
    --green: #495E57;
    --yellow: #F4CE14;
}

body {
  margin: 0;
}

* {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}